@font-face {
  font-family: nexaL;
  src: url(resources/nexaL.otf);
}

@font-face {
  font-family: nexaB;
  src: url(resources/nexaB.otf);
}

/*
:root {
  --main-bg-color: #170033;
  --second-bg-color: #210048;
  --third-bg-color: #85196a;
  --forth-bg-color: #531957;
  --main-infobox-color: #170033;
  --main-btn-color: #eb4939;
  --main-btn-text-color: #fff;
  --main-text-color: #fff;
  --main-green: #6ce365;
  --main-red: #e95b5b;
}
*/

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: NexaL, Times, serif;
  font-size: 15px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#root {
  background: var(--second-bg-color);
  width: 95%;
  margin: 30px auto;
  min-height: 200px;
  border-radius: 20px;
  max-width: 2000px;
  padding-bottom: 30px;
}

#content {
  width: 95%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: NexaB, Times;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: 0.6s;
}

.green {
  color: var(--main-green) !important;
}
.red {
  color: var(--main-red) !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

a:hover {
  opacity: 0.8;
  transition: 0.6s;
}

a.btn,
.tooltip,
button {
  display: block;
  color: var(--main-btn-text-color);
  background: var(--main-btn-color);
  font-family: nexaB;
  text-align: center;
  padding: 10px 16px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: 0.6s;
}

a.btn.active {
  filter: brightness(0.7);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-radius: 5px;
}

thead tr {
  background-color: var(--third-bg-color) !important;
}

thead tr:hover {
  filter: none !important;
}

td,
th {
  border: 1px solid var(--third-bg-color);
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: var(--forth-bg-color);
}
tr:nth-child(odd) {
  background-color: var(--second-bg-color);
}

tr:hover {
  filter: brightness(0.8);
  transition: 0.6s;
}

.noLeftBorder {
  border-left: none !important;
}
.noRightBorder {
  border-right: none !important;
}

#titleInfoBox {
  background: var(--third-bg-color);
  border-radius: 15px;
  padding: 20px;
  margin: 40px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#titleInfoBox img {
  max-width: 100px;
  max-height: 130px;
}

#titleInfoBox .logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
