body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: nexaL;
  src: url(resources/nexaL.otf);
}

@font-face {
  font-family: nexaB;
  src: url(resources/nexaB.otf);
}

body {
  font-family: NexaL, Times, serif;
  font-size: 15px;
  background-color: #170033;
}

#root {
  background: #210048;
  width: 95%;
  margin: 30px auto;
  min-height: 200px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}

.hidden {
  display: none;
  visibility: hidden;
}

a:hover {
  opacity: 0.8;
  transition: 0.6s;
}

a.btn {
  display: block;
  color: #fff;
  background: #eb4939;
  font-family: nexaB;
  text-align: center;
  padding: 10px 16px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.6s;
}

a.btn.active {
  filter: brightness(0.8);
}
