input[type='text'] {
  max-width: 400px;
}

input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  font-family: NexaB;
  background-color: var(--main-btn-color);
  color: var(--main-btn-text-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s;
}

input[type='submit']:hover {
  opacity: 0.8;
}

.selectItemBox,
.selectedItemsBox {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.selectedItemsBox {
  margin-bottom: 40px;
}

.selectItem {
  cursor: pointer;
  width: 205px;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  align-items: center;
  border-radius: 15px;
  background-color: var(--main-infobox-color);
}
.selectItem:hover {
  filter: brightness(0.8);
  transition: 0.6s;
}

.selectItem img {
  max-width: 60px;
  max-height: 60px;
}

.selectItem .deleteImg {
  width: 20px;
  background: var(--main-red);
  border-radius: 50%;
  padding: 2px;
}

.itemName {
  text-align: center;
}

.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compare button {
  width: 150px;
}

.radarChart {
  width: 350px;
  height: 350px;
  margin: 20px 5px;
}

.compareBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-around;
}
