nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  grid-gap: 20px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

nav img {
  max-height: 30px;
  cursor: pointer;
}

nav img.img-dark {
  filter: invert(100%);
}
