.itemCard {
  width: 360px;
  background: #531957;
  border-radius: 15px;
}

.itemCardHeader {
  background: #85196a;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  text-align: center;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}

.itemCardHeader h2 {
  font-size: 24px;
  margin: 10px;
}

.itemCardHeader img {
  max-width: 60px;
  max-height: 60px;
}

.itemCardContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;
}

a.itemCardFooter {
  width: 100%;
  background: #85196a;
  display: block;
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding: 8px 0px;
}
